<div class="register-form container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" placeholder="JohnDeo" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
            @if (submitted && f['username'].errors) {
            <div class="invalid-feedback">
                @if (f['username'].errors['required']) {
                <div>Username is required</div>
                } @if (f['username'].errors['minlength']) {
                <div>Username must be at least 3 characters</div>
                } @if (f['username'].errors['maxlength']) {
                <div>Username must not exceed 20 characters</div>
                }
            </div>
            }
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" placeholder="john@gmail.com" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            @if (submitted && f['email'].errors) {
            <div class="invalid-feedback">
                @if (f['email'].errors['required']) {
                <div>Email is required</div>
                } @if (f['email'].errors['email']) {
                <div>Email is invalid</div>
                }
            </div>
            }
        </div>

        <div class="form-group">
            <label>Phone No.</label>
            <input type="number" placeholder="XXXXXXXXXX" [maxLength]="10" formControlName="phone" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" />
            @if (submitted && f['phone'].errors) {
            <div class="invalid-feedback">
                @if (f['phone'].errors['required']) {
                <div>Phone is required</div>
                }
                @if (f['phone'].errors['min']) {
                <div>Phone no. should be minimum 10 digit</div>
                }
                @if (f['phone'].errors['max']) {
                <div>Phone no. should be maximum 10 digit</div>
                }
                @if (f['phone'].errors['pattern']) {
                <div>Phone is invalid</div>
                }
            </div>
            }
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Sign-up</button>
            <button type="button" class="btn btn-warning float-right">
                Log-in
            </button>
        </div>
    </form>
</div>