<!-- <div>
    <h1>{{ wish }}, {{ username }}</h1>
    <p>Welcome to our application! We are glad to have you on board.</p>
  </div> -->


  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h1>{{ wish }}, {{ username }}</h1>
            <p>Welcome to our application! We are glad to have you on board.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  